.test {
  background: green;
}

.bulma-arrow-mixin {
  // @include arrow(purple);
  @include arrow(red);
}

.bulma-hamburger-mixin {
  @include hamburger(2.5rem);
}

.bulma-block-mixin {
  @include block(1rem);
}