// $primary: #2C3892;
// $primary-invert: findColorInvert($primary);
// $secondary: #4081CB;
// $secondary-invert: findColorInvert($secondary);
// $third: #4099FF;
// $third-invert: findColorInvert($third);

// Setup $colors to use as bulma classes (e.g. 'is-third')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "secondary": ($secondary, $secondary-invert),
  "third": ($third, $third-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-size: 16px;

::placeholder {
  color: $dark !important;
  opacity: 0.5 !important;
}

// Import Bulma and Buefy styles
@import "/node_modules/bulma/bulma.sass";
@import "/node_modules/buefy/src/scss/buefy";


body {
  background-color: $background;
}

.column {
  padding: 0.5em;
}

.navbar {
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  .navbar-brand {
    margin-left: 1em;
  }
  .navbar-start {
    justify-content: space-between;
    margin-right: 5em;
    width: 100%;
  }
}

.table {
  thead {
    line-height: 3em;
    background-color: $gray-7;
  }
  tbody {
    font-size: 90%;
    tr {
      line-height: 3em;
    }
  }
}

.tabs {
  font-weight: bold;
  line-height: 3em;
  ul {
    border: none;
    li {
      border: 1px solid $gray-5;
      background-color: $gray-7;
      a {
        border: none;
      }
      &.is-active, &.is-active a {
        background-color: transparent;
        border-bottom-color: transparent;
      }
    }
  }
}

.tabs li.is-active a {
  border-bottom-color: rgb(45, 46, 131);
  color: rgb(45, 46, 131);
}