$primary: #2D2E83;
// $primary: green;
$primary-invert: findColorInvert($primary);
$secondary: #2581C4;
$secondary-invert: findColorInvert($secondary);
$third: #D6E6FA;
$third-invert: findColorInvert($third);

// $link: #???;
// $info: #???;
$success: #219653;
$warning: #EB5757;
// $danger: #???;

$gray-1: #333333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-5: #E0E0E0;
$gray-6: #F2F2F2;
$gray-7: #FBFCFD;


$background: $gray-7;
// $background: red;
// $background: $white-ter;
